html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background: #aee5cc;
    font-family: "Coda", cursive;
  }

  .cat {
      max-width: 800px;
      margin: 0 auto;
      position: absolute;
      left: 40%;
      top: 5%;
  }

  .cat__picture {
    height: auto;
    padding-bottom: 30px;
    position: relative;
  }

  .cat__header {
    font-size: 3rem;
    text-align: center;
  }

  .cat__counter {
    font-size: 2rem;
    text-align: center;
  }
  
  